@charset "utf-8";

@font-face {
  font-family: 'UVNThanhPho_R';
  font-style: normal;
  src: url('/img/UVNThanhPho_R.eot?#iefix') format('embedded-opentype'),
       url('/img/UVNThanhPho_R.woff') format('woff'),
       url('/img/UVNThanhPho_R.ttf') format('truetype'),
       url('/img/UVNThanhPho_R.svg#UVNThanhPho_R') format('svg');
}

* {margin:0; padding:0;}
a {text-decoration:none; color:#000; outline:none;}
a:hover {color:#e81911;}

ul {list-style:none;}
img {vertical-align:middle; border:0;}
body,input {font-size:14px; line-height:1.42857143; color:#2d2d2d; font-family:Arial;}
html, body, header, footer, section {width:100%; float:left; border:none;}

.hide {display:none !important;}
.clearfix {clear:both;}
.container {width:1002px; margin:0 auto;}

body {
	background:url(/img/bg3.jpg) no-repeat center bottom, url(/img/bg1.jpg) no-repeat center top, url(/img/bg2.jpg) repeat-y center top; position:relative;
}

/***** Background Flash *****/
	.flash_bg {
		width:1300px; height:650px; position:absolute; top:0; left:50%; float:left; z-index:-1;
		-webkit-transform: translateX(-50%);
	       -moz-transform: translateX(-50%);
	        -ms-transform: translateX(-50%);
	          	transform: translateX(-50%);
	}
/***** End Background Flash *****/

/***** Header *****/
	header nav {float:left; width:100%; text-align:center; height:63px;}
	header nav .drop_nav,
	header nav a {
		display:inline-block; color: #f1f1ea; font-family:'UVNThanhPho_R'; font-size:18px; line-height:1; margin:20px 15px 0; padding-bottom:25px; position:relative;
		-webkit-transition: color 400ms ease;
           -moz-transition: color 400ms ease;
          	-ms-transition: color 400ms ease;
             -o-transition: color 400ms ease;
            	transition: color 400ms ease;
	}
	header nav .drop_nav:hover,
	header nav a:hover {color:#e81911;}

	header nav .drop_nav {perspective:1000px;}
	header nav .drop_nav span {cursor:pointer;}
	header nav .drop_nav div {
		float:left; top:100%; left:50%; position:absolute; width:120px; display:none;
		-webkit-transform: translateX(-50%);
	       -moz-transform: translateX(-50%);
	        -ms-transform: translateX(-50%);
	          	transform: translateX(-50%);
	}

	header nav .drop_nav:hover div {display:block;}
	header nav .drop_nav:hover div a { 
		width:100%; height:100%; background-color:rgba(255,255,255,0.69); float:left; padding:10px 0; margin:0; opacity:0; border-top:1px solid #7faec3;
		-webkit-animation:drop_nav 300ms ease-in-out forwards;
				animation:drop_nav 300ms ease-in-out forwards;
	}

	header nav .drop_nav:hover div a:nth-child(1) {
		-webkit-animation-delay:0;
				animation-delay:0;
	}

	header nav .drop_nav:hover div a:nth-child(2) {
		-webkit-animation-delay:150ms;
				animation-delay:150ms;
	}

	header nav .drop_nav:hover div a:nth-child(3) {
		-webkit-animation-delay:300ms;
				animation-delay:300ms;
	}

	@keyframes drop_nav {
		  0% {
		  	opacity:0;
		  	transform: rotateY(-90deg) translate(30px);
		}

		100% {
			opacity:1;
			transform: rotateY(0) translate(0);
		}
	}

	header nav .drop_nav div span,
	header nav .drop_nav div a {float:left; width:100%; color:#5b6e84; text-align:center; margin:7px 0 8px; padding:0;}
	header nav .drop_nav div a:hover {color:#e81911;}
 	
 	header nav .drop_nav div span {font-weight:bold;}
	header .logo {width:247px; height:140px; float:left; background:url(/images/logo.png) no-repeat center top; opacity:0.87; margin-top:5px;}
	header .logo:hover {opacity:1;}
/***** End Header *****/

/***** Section *****/
	section {min-height:1650px;}
	section nav {width:100%; height:93px; float:left; margin:245px 0 0; background:url(/img/btn_menu.png) no-repeat left bottom; position:relative;}
	section nav .btn {float:left; width:460px; height:93px; background:url(/img/btn_menu.png) no-repeat left top; cursor:pointer;}
	section nav .btn.update {width:460px; background-position:left bottom;}
	section nav .btn.guide {width:282px; background-position:-460px bottom;}
	section nav .btn.system {width:260px; background-position:-742px bottom;}

	section nav .btn:hover,
	section nav .btn.active {background-position:left top;}
	section nav .btn.update:hover,
	section nav .btn.update.active {background-position:left top;}
	section nav .btn.guide:hover,
	section nav .btn.guide.active {background-position:-460px top;}
	section nav .btn.system:hover,
	section nav .btn.system.active {background-position:-742px top;}

	section nav .btn.download {position:absolute; bottom:0; left:-37px; width:300px; height:280px; background:none;}
	section nav .btn.download:hover,
	section nav .btn.download.active {background:none;}

	section .content {width:734px; padding:25px 134px; float:left; font-size:15px; color:#696969;}
	section .content .block {width:100%; float:left;}
	section .content .block h1 {width:100%; float:left; font-size:25px; font-weight:bold; text-indent:40px; color:#34322f; text-transform:uppercase; background:url(/img/i_h1.png) no-repeat left center;}
	section .content .block .title {width:160px; height:50px; padding-top:11px; margin-top:20px; float:left; font-size:25px; font-weight:bold; text-align:center; color:#e9eae7; text-transform:uppercase; background:url(/img/bg_btn_content.jpg) no-repeat left center;}
	section .content .block .title.fshare {margin-top:40px;}
	section .content .block h2 {width:100%; float:left; font-size:15px; padding-top:2px; margin-top:10px; color:#34322f; font-weight:bold; text-indent:20px; background:url(/img/i_h2.png) no-repeat left center;}
	
	section .content .block p {margin-top:10px;}
	
	section .content .block .col {width:100%; float:left;}
	section .content .block .col.note {color:red; text-indent:20px; font-weight:bold;}
	section .content .block .col span {width:50%; float:left; text-align:left;}

	section .content .block table {width:100%; float:left; border-collapse:collapse; text-align:center; margin-top:10px;}
	section .content .block table thead tr {background-color:#d7d8d9;}
	section .content .block table tr {border-bottom:1px solid #d7d8d9;}

	section .content .block table th,
	section .content .block table td {border-left:1px solid #c3c4c4; padding:10px 0;}

	section .content .block table th:first-child,
	section .content .block table td:first-child {border:none;}

	section .content .block table td a {color:#e81911; font-weight:bold;}
	section .content .block table td a:hover {text-decoration:underline;}

	section .content .guide .btn {width:100%; height:247px; float:left; position:relative; margin-top:10px;}
	section .content .guide .btn a {width:394px; height:100%; float:left; background:url(/img/btn_guide.png) no-repeat left center; opacity:0.87; position:absolute; top:0; left:0;}
	section .content .guide .btn a:hover {opacity:1;}
	section .content .guide .btn ._g1 {width:394px; background-position:left center; left:-211px;}
	section .content .guide .btn ._g2 {width:305px; background-position:-394px center; left:183px;}
	section .content .guide .btn ._g3 {width:317px; background-position:right center; left:488px;}

	section .content .system table {margin-top:20px;}
	section .content .system table td:first-child {background-color:#d7d8d9; font-weight:bold; color:#626262; border-top:1px solid #c3c4c4;}

	.banner {width:218px; height:307px; float:left; background:url(/img/banner_nhanquataigame.png) no-repeat center center; position:fixed; top:25%; left:10px; z-index:10; opacity:0.93;}
	.banner:hover {opacity:1;}
	.banner a {width:100%; height:100%; float:left;}
/***** End Section *****/

/***** Footer *****/
	footer {width:100%; height:81px; padding:18px 0; margin:0 0 100px;}
	footer .container {text-align:center;}
	footer .container .logo {display:block; height:39px; float:left; margin-top:18px;}
	footer .container .logo.gosu {width:162px; height:42px; background:url(/img/logo_gosu.png) no-repeat center center; background-size:cover; margin-left:17px;}
	footer .container .logo.cubinet {width:238px; background:url(/img/logo_cubinet.png) no-repeat center top; background-size:cover;}
	footer .container .address {width:565px; height:81px; float:left; padding-top:0px;}
	footer .container .address p {text-align:center; width:100%; font-size:14px; font-family:Tahoma; float:left; color:#000; margin-top:5px;}
	footer .container .address a {color:#000; font-size:14px; font-family:Tahoma; padding:0 2px 0 5px; border-left:1px solid #000; line-height:1;}
	footer .container .address a:first-child {border-left:none;}
	footer .container .address a:hover {color:#ff9427;}
/***** End Footer *****/

.news-home {
	background-color: #fff;
}
.news-home .container {
	width: 96%;
}
.news-home .header-page {
	background: #1f2e45;
}
.news-home .main-headerpage {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.news-home .main-headerpage .logo-page img {
	width: 165px;
}
.news-home .main-headerpage .list-menu .it-menu .link-menu {
	color: #b2b2b2;
}
.main-page-new {
	display: grid;
	grid-template-columns: 364px 1fr;
	position: relative;
	z-index: 2;
	margin-top: 40px;
	min-height: calc(100vh - 40px - 95px);
}
.main-new-content {
	min-width: 1000px;
	width: calc(100% - 364px);
}
.tab-newpage {
	align-items: flex-end;
	padding-left: 135px;
}
.tab-newpage:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	background: url(../images/new-page/line-tab.png) no-repeat center center;
	left: 0;
	bottom: -8px;
}
.tab-newpage .tab-big {
	margin-right: 20px;
	align-items: flex-end;
}
.tab-newpage .tab-big .tab-bigbig {
	position: relative;
	top: 3px;
	color: #b2b2b2;
	font-size: 40px;
	background: -webkit-linear-gradient(#3f73a3, #b2b2b2);
	background: linear-gradient(to right, #3f73a3 10%, #b2b2b2 40%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.tab-newpage .tab-big .tab-bigbig:after {
	content: "";
	position: absolute;
}
.tab-newpage .tab-big .tab-bigbig-lev {
	clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}
.tab-newpage .tab-big .tab-bigbigbig:after {
	content: "";
	position: absolute;
	top: 15px;
	right: 13px;
	height: 60%;
	width: 1px;
	background-color: #b2b2b2;
	transform: rotate(23deg);
}
.tab-newpage .tab-big .tab-bigsmall {
	color: #839ea6;
	font-size: 19px;
}
.tab-newpage .tab-newpage-link {
	position: relative;
	font-size: 15px;
	color: #808080;
	margin: 0 23px;
}
.tab-newpage .tab-newpage-link:hover, .tab-newpage .tab-newpage-link.active {
	color: #1f2e45;
}
.tab-newpage .tab-newpage-link:hover:after, .tab-newpage .tab-newpage-link.active:after {
	width: 100%;
	height: 1px;
	background: #515968;
}
.tab-newpage .tab-newpage-link:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: -8px;
}
.content-newpage {
	margin-top: 25px;
}
.it-newpage {
	display: block;
	padding-block: 25px;
}
.it-newpage .in-newpage {
	width: 100%;
	max-width: 1200px;
}
.it-newpage:hover {
	background: #f2f9ff;
}
.it-newpage:hover .date-time .date {
	color: #eedbb2;
}
.it-newpage:hover .date-time .month-year {
	background: #eedbb2;
}
.it-newpage:hover .icon-view-to {
	border: 1px solid #eedbb2;
	background: #eedbb2;
}
.it-newpage:hover .icon-view-to .img-view-to {
	display: none;
}
.it-newpage:hover .icon-view-to .img-view-to-hover {
	display: block;
}
.it-newpage .date-time {
	width: 90px;
	line-height: 1.2;
}
.it-newpage .date-time .date {
	font-size: 48px;
	color: #6d85a4;
}
.it-newpage .date-time .month-year {
	display: inline-block;
	border-radius: 10px;
	font-size: 20px;
	background: #b7c2cf;
	padding: 0 8px;
}
.it-newpage .cat-title-des {
	color: #999;
	margin-left: 30px;
	padding-left: 30px;
	border-left: 1px solid #ccd8e4;
	width: calc(100% - 90px - 150px);
}
.it-newpage .cat-title-des .cat {
	font-size: 13px;
}
.it-newpage .cat-title-des .title-newpage {
	color: #1f2e45;
	font-size: 22px;
	margin-top: 7px;
}
.it-newpage .cat-title-des .des-newpage {
	margin-top: 5px;
	font-size: 15px;
}
.it-newpage .icon-view-to {
	padding: 5px 15px;
	border: 1px solid #a6a6a6;
	border-radius: 30px;
	display: inline-block;
}
.it-newpage .icon-view-to .img-view-to-hover {
	display: none;
}
